body{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}


.App {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}


.leftAlignedPagination .swiper-pagination-bullets {
  text-align: left;
  left: 5%;
  right: auto;
}

.menu ul {
  /* Define initial state styles */
  transition: all 0.5s ease;
}

.menu.open ul {
  /* Define styles for open state */
}

.arrow {
  /* Define initial state styles */
  transition: transform 0.2s ease;
}

.arrow.rotated {
  /* Define rotated state */
  transform: rotate(180deg);
}
